<html>
    <head></head>
    <body>
        <h1><%= message.user%></h1>
        <p>
            <%=message.text%>
        </p>
        <p>
            Received at: <%=message.added%>
        </p>
    </body>
</html>