<html>
    <body>
        <form method="post" action="/new">
            <h2>New Messages</h2>
            <label for="authorName">
                <input type="text" name="authorName">
            </label>
            <label for="messageText">
                <input type="text" name="messageText">
            </label>
            <input type="submit" value="submit">
        </form>
    </body>
</html>